#cropImage{
    display:block;
    width: 500px;
    height: 600px;
    max-width: 100%;
}
#output{
    display:block;
    width: 500px;
    height: 600px;
    max-width: 100%;
}
#cropDiv{
    display: flex;
    justify-content: center;
    justify-items: center;
}
#output{
    margin: 0 5px;
}