<%- include('./layouts/userLayout/userAccountHeader.ejs') %>
    <section class="content-main">
        <div class="row">
            <div class="col-6">
                <div class="content-header">
                    <h2 class="content-title">Add New Address</h2>
                    <form id="addressForm">
                        <p style="color:red">
                            <%= messages.head ? messages.head : '' %>
                        </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-9">
                                <div class="mb-4">
                                    <label class="form-label">Full Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="name"
                                        id="name" required>
                                    <p style="color:red" id="nameError"></p>
                                </div>

                                <div class="mb-4">
                                    <label class="form-label">Phone</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="mobile"
                                        id="name" required>
                                    <p style="color:red" id="nameError"></p>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">House Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="houseName"
                                        id="houseName" required>
                                    <p style="color:red" id="houseNameError"></p>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Street Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="street"
                                        id="street" required>
                                    <p style="color:red" id="streetError"></p>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Landmark</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="landmark"
                                        id="landmark" required>
                                    <p style="color:red" id="landmarkError"></p>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">City</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="city"
                                        id="city" required>
                                    <p style="color:red" id="cityError"></p>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">State</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="state"
                                        id="state" required>
                                    <p style="color:red" id="cityError"></p>
                                </div>
                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label class="form-label">Pincode</label>
                                            <input type="text" placeholder="pincode" class="form-control" name="pincode"
                                                id="productPrice" required>
                                            <p style="color:red">
                                                <%= messages.pincode ? messages.pincode : '' %>
                                            </p>
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                                <hr class="mb-4 mt-0">
                                <div>
                                    <input type="checkbox" name="defaultAddress" />
                                    Make default Address
                                </div>
                                <hr class="mb-4 mt-0">
                                <div>
                                    <button class="btn btn-md rounded font-sm hover-up">Submit</button>
                                </div>
                                </form>
                            </div> <!-- .row end// -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2" style="display: flex; text-align: end;">
            <div class="card card-product-grid ">
                <!-- card-product  end// -->
            </div>
        </div>
    </section> <!-- content-main end// -->

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#addressForm').submit(function (event) {
                event.preventDefault(); // Prevent the form from submitting normally
                const formData = $(this).serialize();
                // Send AJAX request
                $.ajax({
                    type: 'POST',
                    url: '/user/createAddress',
                    data: formData,
                    dataType: 'json', // Expect JSON data from the server
                    success: function (response) {
                        console.log(response);
                        if (response.success) {
                            Swal.fire({
                                title: 'Success',
                                text: response.message,
                                icon: 'success'
                            }).then(() => {
                                window.location.href = '/user/address';
                            });
                        } else {
                            Swal.fire({
                                title: 'Error',
                                text: response.message,
                                icon: 'error'
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        // Handle the error response
                        console.error(xhr.responseText);
                        // Optionally, you can show an error message to the user
                    }
                });
            });
        });
    </script>


    <%- include('./layouts/userLayout/userAccountFooter.ejs') %>