<%- include('./layouts/userLayout/userAccountHeader.ejs') %>
<title>Create Address</title>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <section class="content-main">
        <div class="row">
            <div class="col-6">
                <div class="content-header">
                    <h2 class="content-title">Add New Address</h2>
                    <form id="addressForm">
                        <p style="color:red">
                            <%= messages.head ? messages.head : '' %>
                        </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-9">
                                <div class="mb-4">
                                    <label class="form-label">Full Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="name"
                                        id="name" >
                                    <p style="color:red" id="nameError"></p>
                                </div>

                                <div class="mb-4">
                                    <label class="form-label">Phone</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="mobile"
                                        id="mobile" >
                                    <p style="color:red" id="mobileError"></p>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">House Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="houseName"
                                        id="houseName" >
                                    <p style="color:red" id="houseNameError"></p>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Street Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="street"
                                        id="street" >
                                    <p style="color:red" id="streetError"></p>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Landmark</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="landmark"
                                        id="landmark" >
                                    <p style="color:red" id="landmarkError"></p>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">City</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="city"
                                        id="city" >
                                    <p style="color:red" id="cityError"></p>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">State</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="state"
                                        id="state" >
                                    <p style="color:red" id="stateError"></p>
                                </div>
                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label class="form-label">Pincode</label>
                                            <input type="text" placeholder="pincode" class="form-control" name="pincode"
                                                id="pincode" >
                                                <p style="color:red" id="pincodeError"></p>
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                                <hr class="mb-4 mt-0">
                                <div>
                                    <input type="checkbox" name="defaultAddress" />
                                    Make default Address
                                </div>
                                <hr class="mb-4 mt-0">
                                <div>
                                    <button class="btn btn-md rounded font-sm hover-up">Submit</button>
                                </div>
                                </form>
                            </div> <!-- .row end// -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2" style="display: flex; text-align: end;">
            <div class="card card-product-grid ">
                <!-- card-product  end// -->
            </div>
        </div>
    </section> <!-- content-main end// -->

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#addressForm').submit(function (event) {
                event.preventDefault(); 

                const phoneRegex = /^\d{10}$/;
                const pincodeRegex = /^\d{6}$/;
                const nameRegex = /^[^\s\d!@#$%^&*(),.?":{}|<>_+=\[\\;\]`~]*[a-zA-ZÀ-ÖØ-öø-ÿ-' ]+[^\s!@#$%^&*(),.?":{}|<>_+=\[\\;\]`~]*$/;

        let isValid = true;
        const phone = $('#mobile').val().trim();
        const fullName = $('#name').val().trim();
        const houseName = $('#houseName').val().trim();
        const street = $('#street').val().trim();
        const landmark = $('#landmark').val().trim();
        const city = $('#city').val().trim();
        const state = $('#state').val().trim();
        const pincode = $('#pincode').val().trim();
        
        if (!nameRegex.test(fullName) || fullName.length < 3) {
            $('#nameError').text('Invalid name'); 
            isValid = false;
        }else{
            $('#nameError').text(''); 
        }
        if (!phoneRegex.test(phone)) {
            $('#mobileError').text('Invalid phone number'); 
            isValid = false;
        }else{
            $('#mobileError').text(''); 
        }
        if (!pincodeRegex.test(pincode)) {
            $('#pincodeError').text('Invalid pincode'); 
            isValid = false;
        }else{
            $('#pincodeError').text(''); 

        }
        if (!nameRegex.test(houseName) || houseName.length < 3) {
            $('#houseNameError').text('Invalid houseName'); 
            isValid = false;
        }else{
            $('#houseNameError').text(''); 

        }
        if (!nameRegex.test(street) || street.length < 3) {
            $('#streetError').text('Invalid street name'); 
            isValid = false;
        }else{
            $('#streetError').text(''); 

        }
        if (!nameRegex.test(landmark) || landmark.length < 3) {
            $('#landmarkError').text('Invalid landmark name'); 
            isValid = false;
        }else{
            $('#landmarkError').text(''); 

        }
        if (!nameRegex.test(city) || city.length < 3) {
            $('#cityError').text('Invalid city name');
            isValid = false;
        }else{
            $('#cityError').text('');

        }
        if (!nameRegex.test(state) || state.length < 3) {
            $('#stateError').text('Invalid state name'); 
            isValid = false;
        }else{
            $('#stateError').text(''); 

        }
        
        if (!isValid) {
            return; 
        }

        const formData = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: '/user/createAddress',
                    data: formData,
                    dataType: 'json',
                    success: function (response) {
                        console.log(response);
                        if (response.success) {
                            Swal.fire({
                                title: 'Success',
                                text: response.message,
                                icon: 'success'
                            }).then(() => {
                                window.location.href = '/user/address';
                            });
                        } else {
                            Swal.fire({
                                title: 'Error',
                                text: response.message,
                                icon: 'error'
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });
        });
    
    </script>
    


    <%- include('./layouts/userLayout/userAccountFooter.ejs') %>