<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Admin Login</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: rgb(40, 22, 1);
        }

        .login-container {
            width: 300px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 25px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: rgb(107, 64, 6);
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 12px;
            box-sizing: border-box;
            border-radius: 25px;
        }

        button {
            background-color: #4caf50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            justify-content: center;
        }

        button:hover {
            background-color: #45a049;
        }
    </style>
</head>

<body>
    <div class="login-container">
        <h1 id="head">Create Password</h1>
        <form id="passwordForm" method="post">
                <label for="password">Enter New Password:</label>
                <input type="password" placeholder="Password" name="password" id="password" required />
                <span id="alertPassword" style="color: red;"></span><br>
                <button type="button" onclick="registerButton()">Submit</button>
          
        </form>
    </div>
    <script>
        // Validation

        async function registerButton(event) {
            let password = document.getElementById('password').value;
            const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()-_+=])[A-Za-z\d!@#$%^&*()-_+=]{8,}$/;

            if (!passwordRegex.test(password)) {
                document.getElementById('alertPassword').innerHTML = 'Password must be at least 8 characters long and include at least one lowercase letter, one uppercase letter, one digit, and one special character (@ $ ! % * ? &)';

                return false;
            } else {
                document.getElementById('alertPassword').innerHTML = '';
            }

            document.getElementById('passwordForm').submit();
        }

    </script>
</body>

</html>