<%- include('./indlude/_header.ejs') %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
	<style>
		.limiter-menu-desktop {
			height: 100%;
			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;
			display: flex;
			align-items: center;
			background-color: rgba(30, 24, 13, 0.645);
		}
	</style>
	</head>

	<body id="log">

		<header class="header-v3">
			<!-- Header desktop -->
			<div class="container-menu-desktop trans-03">
				<div class="wrap-menu-desktop">
					<nav class="limiter-menu-desktop p-l-45">
						<!-- Logo desktop -->
						<a href="/" class="logo">
							<img src="/images/icons/logo-02.png" alt="IMG-LOGO">
						</a>

						<!-- Menu desktop -->
						<div class="menu-desktop">
							<ul class="main-menu">


								<li>
									<a href="/">Home</a>
								</li>
								<li>
									<a href="/products">Shop</a>
								</li>
								<li>
									<a href="/blog">Blog</a>
								</li>

								<li>
									<a href="/about">About</a>
								</li>

							</ul>
						</div>

				
		</header>

		<p>
			<%= messages.head ? messages.head : '' %>
		</p>

		<div class="container" id="container">
			<div class="form-container sign-up-container">
				<form action="" method="post" id="signupForm">
					<h1>Create Account</h1>

					<span>or use your email for registration</span>
					<input type="text" placeholder="Name" name="name" id="userName" required />
					<span id="nameAlert" style="color: red;"></span>

					<input type="mobile" placeholder="Mobile Number" name="mobile" id="mobileNumber" required />
					<span id="alertNumber" style="color: red; "></span>

					<input type="email" placeholder="Email" name="email" id="email" required />
					<span id="alertEmail" style="color: red;"></span>

					<input type="password" placeholder="Password" name="password" id="password" required />
					<span id="alertPassword" style="color: red;"></span>
					<button type="button" onclick="registerButton()">Sign Up</button>
				</form>
			</div>
			<div class="form-container sign-in-container">
				<form action="" method="post">
					<h1>Sign in</h1>
					<div class="social-container">
						<!-- <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
					<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a> -->
					</div>
					<span>or use your account</span>
					<input type="email" placeholder="Email" name="email" />
					<input type="password" placeholder="Password" name="password" />
					<p style="color:red">
						<%= messages.login ? messages.login : '' %>
					</p>
					<a href="#">Forgot your password?</a>
					<button>Sign In</button>
				</form>
			</div>
			<div class="overlay-container">
				<div class="overlay">
					<div class="overlay-panel overlay-left">
						<h1>Welcome Back!</h1>
						<p>To keep connected with us please login with your personal info</p>
						<button class="ghost" id="signIn">Sign In</button>
					</div>
					<div class="overlay-panel overlay-right">
						<h1>Hello, Friend!</h1>
						<p>Enter your personal details and start journey with us</p>
						<button class="ghost" id="signUp">Sign Up</button>
					</div>
				</div>
			</div>
		</div>


		<script src="/javascripts/login.js"></script>


		<script>
			// Validation

			async function registerButton(event) {
				let userName = document.getElementById('userName').value;
				let email = document.getElementById('email').value.toLowerCase();
				let mobileNumber = document.getElementById('mobileNumber').value;
				let password = document.getElementById('password').value;

				const nameRegex = /^[^\s\d!@#$%^&*(),.?":{}|<>_+=\[\\;\]`~]*[a-zA-ZÀ-ÖØ-öø-ÿ-' ]+[^\s!@#$%^&*(),.?":{}|<>_+=\[\\;\]`~]*$/;
				if (!nameRegex.test(userName)) {
					document.getElementById('nameAlert').innerHTML = 'Enter a valid Name ';
					return false;
				} else {
					document.getElementById('nameAlert').innerHTML = '';
				}

				const emailOne = /^[^\s@]+@/;
				const emailTwo = /[a-zA-Z\d-]+\.(com|org|in|net|edu|gov|co|uk)$/;
				const combinedRegex = new RegExp(emailOne.source + emailTwo.source);


				if (!combinedRegex.test(email)) {
					document.getElementById('alertEmail').innerHTML = '  Please enter a valid Gmail address';

					return false;
				} else {
					document.getElementById('alertEmail').innerHTML = '';
				}

				const mobileRegex = /^\d{10}$/;

				if (!mobileRegex.test(mobileNumber)) {
					document.getElementById('alertNumber').innerHTML = 'Mobile number should contain only numbers should have exactly 10 ';

					return false;
				} else {
					document.getElementById('alertNumber').innerHTML = '';
				}

				const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()-_+=])[A-Za-z\d!@#$%^&*()-_+=]{8,}$/;

				if (!passwordRegex.test(password)) {
					document.getElementById('alertPassword').innerHTML = 'Password must be at least 8 characters long and include at least one lowercase letter, one uppercase letter, one digit, and one special character (@ $ ! % * ? &)';

					return false;
				} else {
					document.getElementById('alertPassword').innerHTML = '';
				}

				document.getElementById('signupForm').submit();
			}
		</script>

		<script>
			document.addEventListener('DOMContentLoaded', function () {
				let fNameInput = document.getElementById('userName');
				let nameAlert = document.getElementById('nameAlert');

				let inputPassword = document.getElementById('password');
				let alertPassword = document.getElementById('alertPassword');

				let mobileNumber = document.getElementById('mobileNumber');
				let alertNumber = document.getElementById('alertNumber');

				let email = document.getElementById('email');
				let alertEmail = document.getElementById('alertEmail');
				let sumbit = document.getElementById('submit');


				// Name Validation

				fNameInput.addEventListener('change', function () {

					let fname = fNameInput.value;

					fetch('/validate', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json',
						},
						body: JSON.stringify({ firstname: fname }),
					})
						.then(res => res.json())
						.then(data => {
							if (data.fnameStatus) {
								nameAlert.style.display = 'block';
								nameAlert.innerHTML = data.fnameStatus;

							} else {
								nameAlert.style.display = 'none';
								nameAlert.innerHTML = ''; // Clear the message if there is no error
							}
							console.log(data);
						})

						.catch(error => {
							console.error('Error:', error);
						});
				})

				// Mobile Validation 

				mobileNumber.addEventListener('change', function () {
					let mobile = mobileNumber.value;
					fetch('/validate', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json',
						},
						body: JSON.stringify({ mobile: mobile }),
					})
						.then(res => res.json())
						.then(data => {
							if (data.mobileStatus) {
								alertNumber.style.display = 'block';
								alertNumber.innerHTML = data.mobileStatus;
							} else {
								alertNumber.style.display = 'none';
								alertNumber.innerHTML = ''; // Clear the message if there is no error
							}
							console.log(data);
						})
						.catch(error => {
							console.error('Error:', error);
						});
				});

				// Email Validation

				email.addEventListener('change', function () {
					let email = email.value;
					fetch('/validate', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json',
						},
						body: JSON.stringify({ email: email }),
					})
						.then(res => res.json())
						.then(data => {
							if (data.emailStatus) {
								alertEmail.style.display = 'block';
								alertEmail.innerHTML = data.emailStatus;
							} else {
								alertEmail.style.display = 'none';
								alertEmail.innerHTML = ''; // Clear the message if there is no error
							}
							console.log(data);
						})
						.catch(error => {
							console.error('Error:', error);
						});
				});

				// Password Validation

				inputPassword.addEventListener('change', function () {
					let Pfield = inputPassword.value;
					fetch('/validate', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json',
						},
						body: JSON.stringify({ password: Pfield }),
					})
						.then(res => res.json())
						.then(data => {
							if (data.passwordStatus) {
								alertPassword.innerHTML = data.passwordStatus;
							} else {
								alertPassword.innerHTML = ''; // Clear the message 
							}
							console.log(data);
						})
						.catch(error => {
							console.error('Error:', error);
						});
				});
			});




		</script>


		<%- include('./indlude/_footer.ejs') %>